body {
    margin: 0;
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #829460;
    line-height: 2;

    /*100% == 1em == 16px Dynamic font size*/
    /*rem - root em which means ignore all of the parent settings for the font size
    and just set it to this relative to the root*/
}

h2 {

    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #829460;
    padding-bottom: 10px;
}

a {
    color: #b0ca80;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #829460;
}

p {
    line-height: 2;
}

hr {

    border-width: 8px;
    border: dotted #c4cbcb 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

.containerTop {

    background-color: #d8ecb3;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.top-cloud {
    position: absolute;
    top: 30px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

.code-img {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.hobby-img {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.prof-img {
    width: 10%;
}


.bottom-container {
    background-color: #829460;
    padding: 50px 0 20px;
}

.contact-msg {
    margin: 40px auto 60px;
}

.copyright {
    color: #ffffff;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #829460;
    background-image: -webkit-linear-gradient(top, #829460, #829460);
    background-image: -moz-linear-gradient(top, #829460, #829460);
    background-image: -ms-linear-gradient(top, #829460, #829460);
    background-image: -o-linear-gradient(top, #829460, #829460);
    background-image: linear-gradient(to bottom, #829460, #829460);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.btn:hover {
    background: #b0ca80;
    background-image: -webkit-linear-gradient(top, #b0ca80, #b0ca80);
    background-image: -moz-linear-gradient(top, #b0ca80, #b0ca80);
    background-image: -ms-linear-gradient(top, #b0ca80, #b0ca80);
    background-image: -o-linear-gradient(top, #b0ca80, #b0ca80);
    background-image: linear-gradient(to bottom, #b0ca80, #b0ca80);
    text-decoration: none;
}
